.resource {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  margin-bottom: 1em;
  border-radius: 25px;
}

.list {
  dispaly: flex;
  flex-direction: row;
}

.btn {
  justify-content: flex-end;
}

.list-content {
  justify-content: flex-start;
}


