<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cops!</title>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link rel="stylesheet" type="text/css" href="styles.min.css">
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt|Roboto' rel='stylesheet' type='text/css'>
</head>
<body data-ng-app="OfficerAndFelonApp">
  <h1 class="heading">Bad Boys Bad Boys</h1>
  <main data-ng-controller="BustedController">
    <button class="btn btn-reverse" data-ng-click="busted()">BUSTED!</button>
    <p>{{outcome}}</p>
    <section class="outer-flex">
      <main data-ng-view="officer-view"></main>
      <main class="resource" data-ng-controller="FelonsController" data-ng-init="getAllFelons()">

        <form class="input-form" name="newFelonForm" data-ng-submit="create(newFelon)">
          <h2 class="resource-heading">New Felon:</h2>
          <label for="newFelonName">Name:</label>
          <input type="text" id="newFelonName" required data-ng-model="newFelon.name" placeholder="name">
          <button  class="btn"type="submit" data-ng-disabled="newFelonForm.$invalid">Create New Felon</button>
        </form>

        <ul class="list" id="felonList">
          <li data-ng-repeat="felon in felons">
            <span class="list-content">
              Name: {{felon.name}} In Jail: {{felon.inJail}}
            </span>
            <span>
              <button class="btn" data-ng-click="remove(felon)" data-ng-if="!felon.editing">Delete This Felon</button>

              <form name="felonForm{{felon._id}}" data-ng-submit="update(felon)" data-ng-if="felon.editing">

                <h2 class="resource-heading">Update felon:</h2>

                <label for="felonName{{felon._id}}">Name:</label>
                <input type="text" id="felonName{{felon._id}}" required data-ng-model="felon.name" placeholder="name">

                <button class="btn" type="submit">Update felon</button>
                <button class="btn" data-ng-click="cancel(felon)">Cancel</button>

              </form>
              <button class="btn" data-ng-click="temp(felon)" data-ng-if="!felon.editing">Update</button>
            </span>
          </li>
        </ul>

      </main>
    </section>
  </main>
  <script src="bundle.js"></script>
</body>
</html>
