<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cops!</title>
  <link rel="stylesheet" type="text/css" href="application.css">
  <link href='https://fonts.googleapis.com/css?family=Rock+Salt|Roboto' rel='stylesheet' type='text/css'>
</head>

<body data-ng-app="OfficerAndFelonApp">
  <div data-ng-controller="AuthController" data-ng-init="getUser()">
    <h1 class="heading">Bad Boys Bad Boys</h1>
    <main data-ng-controller="BustedController">
      <button class="btn btn-reverse" data-ng-click="busted()">BUSTED!</button>
      <p>{{outcome}}</p>
      <section class="outer-flex">


        <main class="resource" data-ng-controller="OfficersController" data-ng-init="getAllOfficers()">
          <div data-form-directive
            data-button-text="Create New Officer"
            data-form-name="newOfficerForm"
            data-heading-text="New Officer:"
            data-resource="officer"
            data-save="create(officer)">
          </div>

          <ul class="list" id="officerList">
            <li data-ng-repeat="officer in officers">

              <div data-list-directive
                data-name="officer.name"
                data-attribute-title="In Jail"
                data-attribute="officer.inJail">
              </div>

              <span>

                <div data-form-directive
                  data-ng-if="officer.editing"
                  data-button-text="Update"
                  data-form-name="edit{{officer._id}}"
                  data-heading-text="Edit Officer:"
                  data-resource="officer"
                  data-save="update(officer)">
                  <button class="btn" data-ng-click="cancel(officer)">Cancel</button>
                </div>

                <button class="btn" data-ng-click="remove(officer)" data-ng-if="!officer.editing">Delete This Officer</button>

                <button class="btn" data-ng-click="temp(officer)" data-ng-if="!officer.editing">Update</button>

              </span>
            </li>
          </ul>
        </main>

        <main class="resource" data-ng-controller="FelonsController" data-ng-init="getAllFelons()">

          <div data-form-directive
            data-button-text="Create New Felon"
            data-form-name="newFelonForm"
            data-heading-text="New Felon:"
            data-resource="felon"
            data-save="create(felon)">
          </div>

          <ul class="list" id="felonList">
            <li data-ng-repeat="felon in felons">

              <div data-list-directive
                data-name="felon.name"
                data-attribute-title="In Jail"
                data-attribute="felon.inJail">
              </div>

              <span>

                <div data-form-directive
                  data-ng-if="felon.editing"
                  data-button-text="Update"
                  data-form-name="edit{{felon._id}}"
                  data-heading-text="Edit Felon:"
                  data-resource="felon"
                  data-save="update(felon)">
                  <button class="btn" data-ng-click="cancel(felon)">Cancel</button>
                </div>

                <button class="btn" data-ng-click="remove(felon)" data-ng-if="!felon.editing">Delete This Felon</button>

                <button class="btn" data-ng-click="temp(felon)" data-ng-if="!felon.editing">Update</button>

              </span>
            </li>
          </ul>

        </main>
      </section>
    </main>
    <a data-ng-if="currentUser" href data-ng-click="logOut()">
    Log Out of {{currentUser}}
    </a>
  </div>
  <script src="bundle.js"></script>
</body>
</html>
